* {
    box-sizing: border-box;
    color: white;
    vertical-align: middle;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000100;
    margin: 0;
    width: 100%;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 35px;

    display: flex;
    position: relative;
    flex-direction: row;
    gap: 40px;

    justify-content: space-around;
    align-items: flex-start;
}

.icon {
    padding: 0px;
    margin: 0px;
}

textarea, input, select, button {
    font-family: Arial, sans-serif;
    font-size: 14px;
    
    padding: 10px 20px;
    border-radius: 11px;

    border: 0;
    background-color: #1a1e1b;
}

textarea:focus, input:focus {
    outline: 0;
}

.action-buton, .nav-link {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 11px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color .3s;
}

.action-buton:hover, .nav-link:hover{
    background-color: #437FB1;
}

textarea {
    resize: none;
}
.navigation-bar {
    background-color: #1a1e1b;
    border-radius: 15px;

    width: 20%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;

    gap: 10px;
}

.qick-news {
    background-color: #0e110e;
    border-radius: 15px;

    width: 30%;
    padding: 10px;
    
    flex-shrink: 0;
    flex-grow: 0;
}

.serch-from {
    display: flex;
}

#search-field-line {
    width: 100%;
    margin-right: 0px;
    border-radius: 11px 0px 0px 11px;
}
#search-field-button {

    margin-left: 0;
    border-radius: 0px 11px 11px 0px;
}

.found-users-list {
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 7px;

    margin-top: 7px;
}

.user-name {
    font-size: 16px;
}

.user-skils {
    font-size: 12px;
}

.active-element {
    background-color: #4380b12f;
}
