{% extends 'base.html.twig' %}

{% block title %}Hello CompanyController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/baseDarkStyle.css">
{% endblock %}

{% block body %}
<div class="company-section">

    <form action="{{ path('company_edit', {'id': company.id}) }}" method="post">
        <input type="text" name="nameCompany" value="{{ company.nameCompany }}" required>
        <input type="hidden" name="_token" value="{{ csrf_token('edit_company' ~ company.id) }}">
        <input type="hidden" name="_method" value="PUT">
        <button type="submit">Сохранить изменения</button>
    </form>

</div>
{% endblock %}
